# Data files
processed_data.csv
training/datasets/
*.pt
*.csv
*.zst

# Python environment and cache
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
build/
.ipynb_checkpoints/
.vscode/

#data and model
sliding_window_results/